.card {
  width: 300px;
  overflow: hidden;
  box-shadow: -8px -6px 8px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #f7fff1;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  border: 2px solid #4E5761;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #4E5761, transparent);
  padding: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.title {
  color: #f9e8cb;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.details {
  padding: 16px;
  background-color: #f7fff1;
  color: #4E5761;
  height: 100%;
}

.description {
  margin: 0;
  font-size: 0.9rem;
}

.comicContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.comicPanel {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #4E5761;
}

.comicPanel img {
  width: 100%;
  display: block;
}
