.logo {
  display: inline-block;
  height: 5em;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.language {
  animation: floatOne 5s ease-in-out 1s infinite alternate;
}
.library {
  animation: floatTwo 5s ease-in-out 1s infinite alternate;
}
.other {
  animation: floatThree 5s ease-in-out 1s infinite alternate;
}
@keyframes floatOne {
  0% {
    left: 10%;
    top: 10%;
  }
  25% {
    lef: -1%;
    top: 30%;
  }
  50% {
    left: 16%;
    top: 7%;
  }
  75% {
    left: 1%;
    top: 10%;
  }
  100% {
    left: -11%;
    top: 0%;
  }
}
@keyframes floatTwo {
  0% {
    left: 20%;
    top: 20%;
  }
  25% {
    left: -1%;
    top: 20%;
  }
  50% {
    left: 26%;
    top: 15%;
  }
  75% {
    left: -2%;
    top: 10%;
  }
  100% {
    left: 12%;
    top: 4%;
  }
}
@keyframes floatThree {
  0% {
    left: 1%;
    top: 8%;
  }
  25% {
    left: -9%;
    top: 2%;
  }
  50% {
    left: 1%;
    top: 15%;
  }
  75% {
    left: 12%;
    top: 10%;
  }
  100% {
    left: -4%;
    top: 1%;
  }
}
