#root {
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: space-between;
  padding: 0 90px;
  overflow-x: hidden;
  background: azure;
  background: antiqueWhite;
  background: crimson;
  background: darkGray;
  background: deeppink;
  background: bisque;
}

/* This ensures content doesn't jump when header becomes sticky */
.sections-container {
  position: relative;
}
.footer {
  height: 60px;
  width: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

